<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<form th:action="@{/save}" th:object="${blog}"  method="POST" novalidate="novalidate" th:width="150px">
    <input type="hidden" th:field="*{idBlog}">
    <div>
        <label>Category</label>
        <select th:field="*{category}">
            <option
                    th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="idBlog">Title Blog</label>
        <input type=text  th:field="*{titleBlog}" class="form-control" id="idBlog">
    </div>
    <div class="form-group">
        <label for="writeDate">Write Date</label>
        <input type=date  th:field="*{writeDate}" class="form-control" id="writeDate">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea type=text  th:field="*{content}" class="form-control" id="content"></textarea>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type=text  th:field="*{author}" class="form-control" id="author">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<th:block th:replace="layout::footer"></th:block>
</body>
<th:block th:replace="layout::script"></th:block>
</html>