<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::head">

</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- error area start -->
    <div class="error-area ptb--100 text-center">
        <div class="container">
            <div class="error-content">
                <h2>OUT OF STOCK!</h2>
                <p>Ooops! This Book you wanna rent now is OUT OF STOCK!, please come back next time .</p>
                <a th:href="@{/}">Back to Dashboard</a>
            </div>
        </div>
    </div>
    <!-- error area end -->

    <!-- jquery latest version -->
    <div th:replace="layout::lib-script">

    </div>
</body>

</html>